<a href="https://colab.research.google.com/github/firdausfaza/twitter-scrapping/blob/main/Scraping2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
!pip install git+https://github.com/JustAnotherArchivist/snscrape.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to /tmp/pip-req-build-fbfqykf_
  Running command git clone --filter=blob:none --quiet https://github.com/JustAnotherArchivist/snscrape.git /tmp/pip-req-build-fbfqykf_
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit 786815dd05681e2421cd03aa9acf5ab5c773bce9
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from snscrape==0.6.2.20230321.dev13+g786815d) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from snscrape==0.6.2.20230321.dev13+g786815d) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from snscrape==0.6.2.20230321.dev13+g786815d) (4.11.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from snscrape==0.6.2.20230321.dev13+g786815d) (3.12.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->snscrape==0.6.2.20230321.dev13+g786815d) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev13+g786815d) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev13+g786815d) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev13+g786815d) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev13+g786815d) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape==0.6.2.20230321.dev13+g786815d) (1.7.1)
Building wheels for collected packages: snscrape
  Building wheel for snscrape (pyproject.toml) ... done
  Created wheel for snscrape: filename=snscrape-0.6.2.20230321.dev13+g786815d-py3-none-any.whl size=73302 sha256=04471bb9c2e370fed3fb82c038235b1e14bcc6207303ae9df6540d010832d013
  Stored in directory: /tmp/pip-ephem-wheel-cache-phim52nj/wheels/05/e9/f7/57056e7c7e44b1feed932fa49fdec9d706c4f563e37160ab74
Successfully built snscrape
Installing collected packages: snscrape
Successfully installed snscrape-0.6.2.20230321.dev13+g786815d

In [ ]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools

In [ ]:
query = 'liverpool'
since_date = '2023-05-15'
until_date = '2023-05-22'

In [ ]:
tweets = []
limit = 200
count = 0 


scraper = sntwitter.TwitterSearchScraper(query + ' since:' + since_date + ' until:' + until_date + ' lang:id')
for tweet in scraper.get_items():
    tweets.append([tweet.user.username, tweet.date, tweet.renderedContent])
    count += 1
    
    if count >= limit:
        break

In [ ]:
df = pd.DataFrame(tweets, columns=['user', 'date', 'renderedContent'])

In [ ]:
df.shape

(200, 3)

In [ ]:
df.head(200)

,user,date,renderedContent
0,debuatomik,2023-05-21 23:57:20+00:00,Dulu waktu Sterling pindah dari Liverpool ke M...
1,LFCindonesia97,2023-05-21 23:55:47+00:00,Sampe presiden brazil ikut berkomentar.\n\nKet...
2,aethelstein,2023-05-21 23:52:36+00:00,liverpool udah mulai dibuang-buangin deadwood nya
3,aethelstein,2023-05-21 23:52:19+00:00,dua tim kesukaan gw liverpool sama milan banya...
4,hidahidaan,2023-05-21 23:47:07+00:00,@akunusam @Kasayanto_ @Kop15achet Itu modus. A...
...,...,...,...
195,Dz71Dzsamba,2023-05-21 15:45:55+00:00,Pemain yang sangat langka bahkan tak bisa dite...
196,paruruuuuu48,2023-05-21 15:45:31+00:00,@AlfarisyiRizal @rizqiyjang @FaktaSepakbola Bu...
197,turepinandhita,2023-05-21 15:44:17+00:00,"Di paruh musim, Liverpool berada di posisi per..."
198,adama_liverpool,2023-05-21 15:42:53+00:00,@ahmadatidiane Kham la wakh ðŸ˜‚ðŸ˜‚ðŸ˜‚
199,kithsatur,2023-05-21 15:40:50+00:00,@gypsophille sini ngomongin liverpool. club bapuk

In [ ]:
df.to_csv('data.csv')